@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-primary: 'Inter', sans-serif;
  --color-primary: #0E0142;
  --color-secondary: #0E014280;
  --color-border: #ddd;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: var(--font-primary);
}

.fade-page-enter {
  opacity: 0;
  transform: translateY(20px);
}

.fade-page-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 600ms, transform 600ms;
}

.fade-page-exit {
  opacity: 1;
  transform: translateY(0);
}

.fade-page-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 600ms, transform 600ms;
}

.page-transition-wrapper {
  width: 100%;
  height: 100%;
}
